<<ion-header>
  <ion-toolbar class="app-bar">
    <ion-title>NET'NDF</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <img src="../../assets/icon/search.jpg" class="logo" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <!-- <ion-button (click)="captureImage()" color="#1775a3"> -->
        <!-- Prendre une photo
        </ion-button> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <!-- <ion-button (click)="importImage()" color="#1775a3"> -->
        <!-- Importer une image
        </ion-button> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
