<ion-header>
  <img src="../../assets/icon/arketeam.PNG" />
  <ion-toolbar class="app-bar">
    <ion-title>NET'NDF</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <img src="../../assets/icon/welcome.jpg" class="logo" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-button (click)="goToPickerPage()" color="#1775a3">
          Scanner un justificatif
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-button (click)="goToPage()" color="#1775a3">
          Consulter mes justificatifs
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-button
          (click)="goToLoginPage()"
          color="#1775a3"
          class="logout-button"
        >
          Se déconnecter
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
